<template>
    <div>
        <!-- Modal -->
        <div class="" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Prestation</h5>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" >
                    <div class="row align-items-start w3-margin-top">
                        <div class="col-6">
                            <label for="title" class="form-label orm-control">Tître</label><br/>
                            <input type="text" class="form-controle" name="title" id="title" v-model="title" placeholder="Ma prestation" >
                        </div>
                        <div class="col-6">
                            <label for="price" class="form-label orm-control">Prix</label><br/>
                            <input type="number" class="form-controle" name="price" id="price" v-model="price" placeholder="0.00">&nbsp;€
                        </div>
                    </div>
                    <div class="row align-items-start w3-margin-top">
                        <div class="col-12">
                            <label for="content" class="form-label orm-control">Contenus : ( ";" pour ajouter une séparation )</label>
                            <textarea name="content" class="form-control" id="content" v-model="content" placeholder="Descriptif 1;Descriptif 2; ..." ></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="w3-right-align w3-margin-top">
                <button type="button" class="btn btn-success" @click="storePrestation" >Ajouter</button>
            </div>
            </div>

    </div>
</template>

<script>
    export default {

        data(){
            return {
                title: '',
                price: '',
                content: ''
            }
        },

        methods: {
            storePrestation(){
                const formData = {};

                formData.title = this.title;
                formData.price = parseInt(this.price);
                formData.content = this.content;

                // (url, ObjectSend)
                this.axios.post('/api/prestations', formData,
                { headers: {'Content-Type': 'application/ld+json', 'accept': 'application/ld+json'} 
                })
                .then(response => {
                    this.$emit('prestation-added', response);

                    this.title = '';
                    this.price = '';
                    this.content = '';

                    this.$toastr.s('prestation added successfully!'); // Tostr notification
                    }) // emit(name, object) It will execute a function defined in html tag <add-prestation>
                .catch(error => {
                    console.log(error)
                    this.$toastr.e('Error : ' + error);
                    });
            }
        },

        mounted() {
            console.log('Component AddPrestation mounted.');
        }
    }
</script>
