<template>
    <div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger btn-sm" aria-label="Close" @click="destroyPrestation" >
            <span aria-hidden="true">X</span>
        </button>
    </div>
</template>

<script>
    export default {

        props: ['idToDelete'],

        methods: {
            destroyPrestation(){
                // (url, ObjectSend)
                this.axios.delete(
                    '/api/prestations/'+this.idToDelete,
                    { title: this.title }
                )
                .then(response => this.$emit('prestation-added', response)) // emit(name, object) It will execute a function defined in html tag <add-prestation>
                .catch(error => console.log(error));
            }
        },

        mounted() {
            console.log('Component DestroyPrestation mounted on '+this.idToDelete)
        }
    }
</script>
