<template>
    <div class="container-fluid">

        <div class="row my-5">
            <div class="col">
                <!-- Add taged component -->
                <prestation-add @prestation-added="refresh" ></prestation-add>
            </div>
        </div>

        <ul class="list-group">
            <div class="list-group-item" v-for="prestation in prestations" :key="prestation.id" >

                <div class="row">
                    <div class="col">
                        <b>{{ prestation.title }}</b>
                    </div>
                    <div class="col">
                        {{ prestation.content }}
                    </div>
                    <div class="col">
                        <b>{{ prestation.price }} €</b>
                    </div>
                    <div class="col w3-right-align">
                        <prestation-remove @prestation-added="refresh" v-bind:idToDelete="prestation.id" ></prestation-remove>
                    </div>
                </div>

            </div>
        </ul>
    </div>
</template>

<script>
    export default {

        data() {
            return {
                prestations : {}
            }
        },

        created(){
           this.getPrestations()
        },

        methods:{
            refresh(){
                this.getPrestations()
            },
            getPrestations(){
                fetch('/api/prestations')
                .then( response => response.json() )
                .then( response => this.prestations = response['hydra:member'] )
                .catch(
                    error => this.$toastr.e('Error : ' + error)
                    );
            }
        },

        mounted() {
            console.log('Component prestation mounted.');
        }
    }
</script>
