<template>
    <div>
        <div v-for="prestation in prestations" :key="prestation.id" >
            <div class="w3-half w3-margin-bottom w3-padding-small">
                <ul class="w3-ul w3-center w3-card w3-hover-shadow" v-if="prestation" >
                    <li class="w3-dark-grey w3-xlarge w3-padding-32">{{ prestation.title }}</li>
                    <li class="w3-padding-16" v-for="content in parseContent(prestation.content)" :key="content.id" >{{ content }}</li>
                    <li class="w3-padding-16">
                        <h2>{{ prestation.price }} €</h2>
                    </li>
                    <li class="w3-light-grey w3-padding-24">
                        <a href="#contact" class="w3-button w3-white w3-padding-large w3-hover-black">Me contacter</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

        data() {
            return {
                prestations : {
                    content: {}
                }
            }
        },

        created(){
            this.getPrestations()
        },

        methods:{
            refresh(prestations){
                this.getPrestations()
            },
            getPrestations(){
                fetch('/api/prestations')
                .then( response => response.json() )
                .then( response => this.prestations = response['hydra:member'] )
                .catch(
                    error => this.$toastr.e('Error : ' + error)
                    );
            },
            parseContent(content){
                if (content) {
                    let elemts = []
                    content.split(';').forEach(elemtContent => {
                        elemts.push(elemtContent)
                    });
                    return elemts
                }
            }
        },

        mounted() {
            console.log('Component prestations list mounted.');
        }
    }
</script>
