{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="container" >
    <div class="row text-end">
        {% if app.user %}
            <div class="mb-3">
                Déjà connecté en tant que {{ app.user.username }}<br/>
                <a class="btn btn-danger" href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        {% endif %}
    </div>
    <div class="row justify-content-center">
        <div class="col-4 pt-5">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            <button class="btn btn-lg btn-primary mt-4" type="submit">
                Valider
            </button>
        </form>
        </div>
    </div>
</div>
{% endblock %}
