<template>
    <div>

        <!-- Modal -->
            
                    

            <div class="modal-header">
                <h5 class="modal-title" >Compétence</h5>
            </div>
            <form enctype="multipart/form-data" >
                <div class="row align-items-start w3-margin-top">
                    <div class="col-4 ">
                        <label for="name" class="form-label">Titre</label>
                        <input type="text" class="form-control"  name="name" id="name" v-model="name" placeholder="Tître" >
                    </div>
                    <div class="col-4 ">
                        <label for="level" class="form-label">Niveau</label>
                        <br/>
                        <input type="range" min="0" max="100" step="10" v-model="level" class="form-range" name="level" id="level" ><br/>
                    </div>
                    <div class="col-4 ">
                        <label for="position" class="form-label">Position</label>
                        <input type="number" class="form-control" name="position" id="position" v-model="position" placeholder="1" >
                    </div>
                </div>
            </form>
            <div class="w3-right-align w3-margin-top">
                <button type="button" class="btn btn-success" @click="storeSkill" >Ajouter</button>
            </div>
            

    </div>
</template>

<script>
    export default {

        data(){
            return {
                name: '',
                level: '',
                position: ''
            }
        },

        methods: {
            storeSkill(){
                const formData = {};

                formData.name = this.name;
                formData.level = parseInt(this.level);
                formData.position = parseInt(this.position);

                // (url, ObjectSend)
                this.axios.post('/api/skills', formData,
                { headers: {'Content-Type': 'application/ld+json', 'accept': 'application/ld+json'} 
                })
                .then(response => {
                    this.$emit('skill-added', response);

                    this.name = '';
                    this.level = '';
                    this.position = '';

                    this.$toastr.s('Skill added successfully!'); // Tostr notification
                    }) // emit(name, object) It will execute a function defined in html tag <add-skill>
                .catch(error => {
                    console.log(error)
                    this.$toastr.e('Error : ' + error);
                    });
            }
        },

        mounted() {
            console.log('Component AddSkill mounted.');
        }
    }
</script>
