<template>
    <div>
        <div v-for="skill in skills" :key="skill.id" >
            <p class="w3-wide w3-margin-top">{{ skill.name }}</p>
            <div class="w3-light-grey" >
                <div class="w3-container w3-center w3-padding-small w3-dark-grey" :style="'width:'+skill.level+'%;'">{{skill.level}}%</div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

        data() {
            return {
                skills : {}
            }
        },

        created(){
            this.getSkills()
        },

        methods:{
            refresh(skills){
                this.getSkills()
            },
            getSkills(){
                fetch('/api/skills')
                .then( response => response.json() )
                .then( response => this.skills = response['hydra:member'] )
                .catch(
                    error => this.$toastr.e('Error : ' + error)
                    );
            }
        },

        mounted() {
            console.log('Component Skills list mounted.');
        }
    }
</script>
