<template>
    <div class="container-fluid">

        <div class="row my-5">
            <div class="col">
                <!-- Add taged component -->
                <skill-add @skill-added="refresh" ></skill-add>
            </div>
        </div>

        <ul class="list-group">
            <div class="list-group-item" v-for="skill in skills" :key="skill.id" >

                <div class="row">
                    <div class="col">
                        <b>{{ skill.name }}</b>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" :style="'width:'+skill.level+'%;'" :aria-valuenow="skill.level" aria-valuemin="0" aria-valuemax="100">{{skill.level}}%</div>
                        </div>
                    </div>
                    <div class="col w3-right-align">
                        <skill-remove @skill-added="refresh" v-bind:idToDelete="skill.id" ></skill-remove>
                    </div>
                </div>

            </div>
        </ul>
    </div>
</template>

<script>
    export default {

        data() {
            return {
                skills : {}
            }
        },

        created(){
           this.getSkills()
        },

        methods:{
            refresh(){
                this.getSkills()
            },
            getSkills(){
                fetch('/api/skills')
                .then( response => response.json() )
                .then( response => this.skills = response['hydra:member'] )
                .catch(
                    error => this.$toastr.e('Error : ' + error)
                    );
            }
        },

        mounted() {
            console.log('Component Skill mounted.');
        }
    }
</script>
