<template>
    <div class="uploader"
        @dragenter="OnDragEnter"
        @dragleave="OnDragLeave"
        @dragover.prevent
        @drop="OnDrop"
        :class="{ dragging : isDragging }"
    >

        <div v-show="!image.length || this.$props.status">
            <label for="file">Téléchargez votre image</label>
            <input type="file" @change="OnInputChange" name="file" id="file" class="btn btn-primary">
        </div>
        <div v-show="image.length" class="preview">
            <img :src="img" alt="" v-for="(img, index) in image" :key="index" class="img-fluid">
        </div>

    </div>
</template>

<script>
    export default {

        data() {
            return {
                isDragging : false,
                image: []
            }
        },

        props: {
            status:Boolean
        },

        watch:{
            status: function(val){
                if (val){
                    this.image = [];
                }
            }
        },

        methods: {
            OnDragEnter(e){
                e.preventDefault();
                this.isDragging = true;
            },
            OnDragLeave(e){
                e.preventDefault();
                this.isDragging = false;
            },
            OnInputChange(e){
                const file = e.target.files[0];
                this.AddImage(file);
            },
            OnDrop(e){
                e.preventDefault();
                e.stopPropagation();

                this.isDragging = false;
                const file = e.dataTransfer.files[0];

                this.AddImage(file);
            },
            AddImage(file){
                if(!file.type.match('image.*')){

                    this.$toastr.e(` ${file.name} is not a image ! `); // notifications Toastr
                    return;

                }else{
                    this.image.push(file);

                    // Make a preview img
                    const reader = new FileReader();
                    reader.onload = (e) => this.image.push(e.target.result);
                    reader.readAsDataURL(file);

                    // Send the img object to the parent component
                    this.$emit('image-uploaded', file);
                }
            }

        },

        mounted() {
            // console.log('Component ImageUploader mounted.');
            // console.log('Status :', this.$props.status);

        }
    }
</script>
