<template>
    <div>
        <h2>{{about.subtitle}}</h2>
        <hr class="w3-opacity">
        <p>
            {{about.description}}
        </p>
    </div>
</template>

<script>
    export default {
        name: "about-description",

        data(){
            return {
                about:{}
            }
        },

        created(){
            this.fetchAbout(1);
        },

        methods:{
            fetchAbout(id){
                fetch('/api/abouts/'+id)
                .then( response => response.json() )
                .then( data => {this.about = data} )
                .catch(
                    error => this.$toastr.e('Error : ' + error)
                    );
            }
        },

        mounted() {
            // this.$toastr.i('Component AboutDescription mounted!'); // Tostr notification
        }
    }
</script>
<style scoped>
</style>