<template>
    <nav class="w3-sidebar w3-hide-medium w3-hide-small" style="width:40%">
        <div class="bgimg">
            <img :src="about.image" :alt="about.title" class="img-fluid"  >
        </div>
    </nav>
</template>

<script>
    export default {
        name: "about-image",

        data(){
            return {
                about:{}
            }
        },

        created(){
            this.fetchAbout(1).then( response => {
                this.getImage(this.about.image)
            });
        },

        methods:{
            fetchAbout(id){
                return fetch('/api/abouts/'+id)
                .then( response => response.json() )
                .then( data => {this.about = data} )
                .catch(
                    error => this.$toastr.e('Error : ' + error)
                    );
            },

            getImage(urlMediaObjectId){
                this.axios.get(urlMediaObjectId
                    ).then( response => {
                        this.about.image = response.data.contentUrl
                    }).catch(error => console.log('Error : ', error));
             },
        },

        mounted() {
            // this.$toastr.i('Component AboutImage mounted!'); // Tostr notification
        }
    }
</script>
<style scoped>
</style>