<template>

  <header class="w3-container w3-center" style="padding:128px 16px" id="home">
    <h1 class="w3-jumbo"><b>{{about.title}}</b></h1>
    <p>{{about.catchphrase}}</p>
  </header>
</template>

<script>
    export default {
        name: "about",

        data(){
            return {
                about:{}
            }
        },

        created(){
            this.fetchAbout(1);
        },

        methods:{
            fetchAbout(id){
                fetch('/api/abouts/'+id)
                .then( response => response.json() )
                .then( data => {this.about = data} )
                .catch(
                    error => this.$toastr.e('Error : ' + error)
                    );
            }
        },

        mounted() {
            // this.$toastr.i('Component About mounted!'); // Tostr notification
        }
    }
</script>
<style scoped>
</style>