<template>
  <form class="contact-form" @submit.prevent="sendEmail">
    <p><input type="text" class="w3-input w3-padding-16 w3-border" required placeholder="Nom" name="user_name"></p>
    <p><input type="email" class="w3-input w3-padding-16 w3-border" required placeholder="mon@mail.fr" name="user_email"></p>
    <p><textarea name="message" class="w3-input w3-padding-16 w3-border" required placeholder="Message..."></textarea></p>
    <p>
        <button class="w3-button w3-light-grey w3-padding-large" type="submit">
          <i class="fa fa-paper-plane"></i> ENVOYER
        </button>
    </p>
  </form>
</template>

<script>
import emailjs from 'emailjs-com';

export default {
  methods: {
    sendEmail(e){
      console.log(process.env)
      // console.log(process.env.VUE_APP_EMAIL_USER_ID)
      // console.log(process.env.EMAIL_USER_ID)

      let user_id = "user_en5KxRkr4fZ6SUZLMV29B";
      let template_id = "template_eoh1qjh";
      let service_id = "service_a02dob8";

      emailjs.sendForm(service_id, template_id, e.target, user_id)
        .then((result) => {
            this.$toastr.s(`Votre email a bien été envoyé !`);
        }, (error) => {
            this.$toastr.e('Error : '.error);
        });
    }
  },

   mounted() {
          // console.log(process.env.VUE_APP_NOT_SECRET_CODE)
          // this.$toastr.i('Component Menu mounted!'); // Tostr notification
        }

}
</script>