<template>
   <div>
     <!-- Sidebar with image -->
     <about-image></about-image>

     <!-- Menu navigation -->
     <menu-nav></menu-nav>

<!-- Page Content -->
<div class="w3-main w3-padding-large" style="margin-left:40%">

  <!-- Menu icon to open sidebar -->
  <span class="w3-button w3-top w3-white w3-xxlarge w3-text-grey w3-hover-text-black" style="width:auto;right:0;" @click="openNav" ><i class="fa fa-bars"></i></span>

  <!-- Header -->
  <about></about>

  <!-- Portfolio Section -->
  <div class="w3-padding-32 w3-content" id="portfolio">
    <h2 class="w3-text-grey">Mes patients</h2>
    <hr class="w3-opacity">

    <!-- Grid for photos -->
    <galleries></galleries>

  <!-- End Portfolio Section -->
  </div>

  <!-- About Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-32" id="about">
    <about-description></about-description>

    <h3 class="w3-padding-16">Mes compétences</h3>
      <skills></skills>
    <br>

    <!-- Grid for pricing tables -->
    <h3 class="w3-padding-16">Mes tarifs</h3>
    <div class="w3-row-padding" style="margin:0 -16px">
      <prestations></prestations>
    <!-- End Grid/Pricing tables -->
    </div>

  <!-- End About Section -->
  </div>

  <!-- Contact Section -->
  <div class="w3-padding-32 w3-content w3-text-grey" id="contact" style="margin-bottom:64px">
    <h2>Me contacter</h2>
    <hr class="w3-opacity">

    <div class="w3-section">
      <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> Bordeaux</p>
      <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> Tel: 06 01 02 03 </p>
    </div>
    
    <contact-form></contact-form>
  <!-- End Contact Section -->
  </div>  
  
  <!-- Footer -->
  <footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-opacity w3-xlarge" style="margin:-24px">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
    <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">w3.css</a></p>
  <!-- End footer -->
  </footer>
  
<!-- END PAGE CONTENT -->
</div>


   </div>
</template>
<script>
import AboutImage from './AboutImage.vue';
   export default {
  components: { AboutImage },
       name: "home",

      methods: {
        openNav() {
                document.getElementById("mySidebar").style.width = "60%";
                document.getElementById("mySidebar").style.display = "block";
            }
      }
   }
</script>
<style scoped>
</style>