<template>

    <nav class="w3-sidebar w3-black w3-animate-right w3-xxlarge" style="display:none;padding-top:150px;right:0;z-index:2" id="mySidebar">
        <a href="javascript:void(0)" @click="closeNav" class="w3-button w3-black w3-xxxlarge w3-display-topright" style="padding:0 12px;">
            <i class="fa fa-remove"></i>
        </a>
        <div class="w3-bar-block w3-center">
            <a href="#" class="w3-bar-item w3-button w3-text-grey w3-hover-black" @click="closeNav" >Accueil</a>
            <a href="/login" class="w3-bar-item w3-button w3-text-grey w3-hover-black" @click="closeNav" >Admin</a>
            <a href="#about" class="w3-bar-item w3-button w3-text-grey w3-hover-black" @click="closeNav" >A propos</a>
            <a href="#contact" class="w3-bar-item w3-button w3-text-grey w3-hover-black" @click="closeNav" >Contact</a>
        </div>
    </nav>

</template>

<script>
    export default {
        name: "menu-nav",

         methods:{
            closeNav() {
                document.getElementById("mySidebar").style.display = "none";
            }
        },

        mounted() {
            // this.$toastr.i('Component Menu mounted!'); // Tostr notification
        }
    }
</script>
<style scoped>
</style>