<template>
    <div>
        <!-- Modal -->
        <div class="container-fluid" >

            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Gallerie</h5>
            </div>

                <form enctype="multipart/form-data" >
                    <div class="row align-items-start w3-margin-top">
                        <div class="col-5 ">
                            <label for="mainTitle" class="form-label orm-control">Tître de l'image</label>
                            <input type="text" class="form-control" name="title" id="mainTitle" v-model="gallery.title" placeholder="Tître de l'image" >
                        </div>
                        <div class="col-5 ">
                            <img :src="gallery.image" :alt="gallery.title" class="img-thumbnail" v-if="!this.file" >
                            <br/>
                            <img-uploader @image-uploaded="refreshImg" v-model="gallery.image" v-bind:status="this.stateUpload" ></img-uploader>
                        </div>
                    </div>
                </form>
            </div>
            <div class="w3-right-align w3-margin-top">
                <button type="button" class="btn btn-primary" v-bind:class="{ 'btn-success': isSubmited }" @click="updateGallery" >Ajouter</button>
            </div>

    </div>
</template>
<script>
    export default {
        name: "gallery-manager",

        data(){
            return {
                gallery:{},
                fileName: '',
                file: '',
                stateUpload: false,
                isSubmited: false
            }
        },

        created(){
            // this.fetchGallery(1).then( response => {
            //     this.getImage(this.gallery.image)
            // });
        },

        methods: {
            // fetchGallery(id){
            //     return fetch('/api/galleries/'+id)
            //     .then( response => response.json() )
            //     .then( data => {this.gallery = data} )
            //     .catch(
            //         error => this.$toastr.e('Error : ' + error)
            //         );
            // },

            submitFile(){
                if (this.file){
                    let formData = new FormData();
                        formData.append('file', this.file);

                    return this.axios.post( '/api/media_objects',
                        formData,
                        {
                            headers: {'Content-Type': 'multipart/form-data'}
                        }).then(function(response){
                        console.log('File uploaded :) ')
                        return response.data
                    })
                    .catch(function(error){
                        console.log('File Error : '+error)
                    });
                }else{
                    return new Promise((success) => { success([false]); })
                }
            },

             updateGallery(event){
                const formData = {};
                return this.submitFile()
                .then(fileUpdated => {
                    formData.title = this.gallery.title;
                    formData.image = fileUpdated ? fileUpdated['@id'] : this.gallery.image;

                return this.axios.post('/api/galleries',
                        formData,
                        { headers: {'Content-Type': 'application/ld+json'} 
                        }).then( galleryAssigned => {
                            this.isSubmited = true;
                            this.$toastr.s(`Enregistré ! `); // notifications Toastr
                            this.$emit('gallery-added', galleryAssigned.data)
                            return galleryAssigned.data
                        }).catch(error => console.log('Error : ', error));

                }).catch(error => console.log('Unable to get file: ', error.message));
             },

            getImage(urlMediaObjectId){
                this.axios.get(urlMediaObjectId
                    ).then( response => {
                        this.gallery.image = response.data.contentUrl
                    }).catch(error => console.log('Error :( ', error));
             },

            refreshImg(file){
                this.fileName = file.name;
                this.file = file;
                this.stateUpload = false;
            }
        },

        mounted() {
            // this.$toastr.i('Component AddGallery mounted!'); // Tostr notification
            // console.log('Component UpdateManager mounted.' + this.item)
        }
    }
</script>