<template>
    <div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger btn-sm" aria-label="Close" @click="destroyGallery" >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</template>

<script>
    export default {

        props: ['idToDelete'],

        methods: {
            destroyGallery(){
                // (url, ObjectSend)
                this.axios.delete(
                    '/api/galleries/'+this.idToDelete,
                    { name: this.name }
                )
                .then(response => this.$emit('gallery-added', response)) // emit(name, object) It will execute a function defined in html tag <add-gallery>
                .catch(error => console.log(error));
            }
        },

        mounted() {
            // console.log('Component destroyGallery mounted on '+this.idToDelete)
        }
    }
</script>
