<template>
    <div class="container-fluid">

        <div class="row my-5">
            <div class="col">
                <!-- Add taged component -->
                <gallery-add @gallery-added="refresh" ></gallery-add>
            </div>
        </div>

        <ul class="list-group">
            <div class="list-group-item" v-for="gallery in galleries" :key="gallery.id" >
                <div class="row ">
                    <div class="col">
                        <b>{{ gallery.title }}</b>
                    </div>
                    <div class="col">
                        <img v-if="gallery.image" :src="gallery.image" :alt="gallery.title" class="col-3" >
                    </div>
                    <div class="col w3-right-align">
                        <gallery-remove @gallery-added="refresh" v-bind:idToDelete="gallery.id" ></gallery-remove>
                    </div>
                </div>

            </div>
        </ul>
    </div>
</template>

<script>
    export default {

        data() {
            return {
                galleries : []
            }
        },

        created(){
            this.refresh()
        },

        methods:{
            refresh(){
                console.log('Refreshed')
                this.getGalleries().then(response => {
                    this.galleries.forEach((gallery, key) => {
                        this.getImage(gallery.image).then(response => {
                            this.galleries[key].image = response
                        })
                    })
                })
            },
            getGalleries(){
                return fetch('/api/galleries')
                .then( response => response.json() )
                .then( response => this.galleries = response['hydra:member'] )
                .catch(
                    error => this.$toastr.e('Error : ' + error)
                    );
            },
            getImage(urlMediaObjectId){
                return this.axios.get(urlMediaObjectId
                    ).then( response => {
                        return response.data.contentUrl
                    }).catch(error => console.log('Error : ', error));
             },
        },

        mounted() {
            // console.log('Component gallery mounted.');
        }
    }
</script>
