<template>
    <div class="w3-row" >
        <div v-for="gallery in galleries" :key="gallery.id" class="w3-third" style="overflow:hidden;max-height:230px;padding: 4px;" >
            <img v-if="gallery.image" :src="gallery.image" :alt="gallery.title" style="max-width:130%;max-height:230px;object-fit:cover;" >
        </div>
    </div>
</template>

<script>
    export default {

        data() {
            return {
                galleries : []
            }
        },

        created(){
            this.getGalleries().then(response => {
                this.galleries.forEach((gallery, key) => {
                    this.getImage(gallery.image).then(response => {
                        this.galleries[key].image = response
                    })
                })
            })
        },

        methods:{
            refresh(galleries){
                this.getGalleries()
            },
            getGalleries(){
                return fetch('/api/galleries')
                .then( response => response.json() )
                .then( response => this.galleries = response['hydra:member'] )
                .catch(
                    error => this.$toastr.e('Error : ' + error)
                    );
            },
            getImage(urlMediaObjectId){
                return this.axios.get(urlMediaObjectId
                    ).then( response => {
                        return response.data.contentUrl
                    }).catch(error => console.log('Error : ', error));
             },
        },

        mounted() {
            // console.log('Component galleries list mounted.');
        }
    }
</script>
