{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}

{% if app.user %}
    <div class="row">
        {% if app.user %}
            <h1 class="col-6 w3-padding-top-32">&nbsp;Admin</h1>
            <div class="col-6 text-end">
                <a class="btn btn-danger" href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        {% endif %}
    </div>
    {# Front side #}
    <home-admin></home-admin>
{% else %}
    {# Front side #}
    <router-view></router-view>
{% endif %}
{% endblock %}