<template>
    <div>
        <!-- Modal -->
        <div class="container-fluid" >
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">A propos</h5>
            </div>
                <form enctype="multipart/form-data" >
                    <div class="row align-items-start w3-margin-top">
                        <div class="col-5 ">
                            <img-uploader @image-uploaded="refreshImg" v-model="about.image" v-bind:status="this.stateUpload" ></img-uploader>
                            <br/>
                            <img :src="about.image" :alt="about.title" class="img-thumbnail" v-if="!this.file" >
                        </div>
                        <div class="col-5 ">
                            <label for="mainTitle" class="form-label orm-control">Titre</label>
                            <input type="text" class="form-control" name="title" id="mainTitle" v-model="about.title" placeholder="Prénom Nom" >
                            <br/>
                            <input type="text" class="form-control" name="catchphrase" id="catchphrase" v-model="about.catchphrase" placeholder="Accroche principal" >
                            <br/>
                            <label for="mainTitle" class="form-label orm-control">A mon sujet</label>
                            <input type="text" class="form-control" name="subtitle" id="subtitle" v-model="about.subtitle" placeholder="Titre..." >
                            <br/>
                            <textarea name="description" id="description" class="form-control" cols="30" rows="10" v-model="about.description" placeholder="Description..." ></textarea>
                        </div>
                    </div>
                </form>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                <button type="button" class="btn btn-primary" v-bind:class="{ 'btn-success': isSubmited }" @click="updateAbout" >Valider</button>
            </div>
        </div>

    </div>
</template>
<script>
    export default {
        name: "about-manager",

        data(){
            return {
                about:{},
                fileName: '',
                file: '',
                stateUpload: false,
                isSubmited: false
            }
        },

        created(){
            this.fetchAbout(1).then( response => {
                this.getImage(this.about.image)
            });
        },

        methods: {
            fetchAbout(id){
                return fetch('/api/abouts/'+id)
                .then( response => response.json() )
                .then( data => {this.about = data} )
                .catch(
                    error => this.$toastr.e('Error : ' + error)
                    );
            },

            submitFile(){
                if (this.file){
                    let formData = new FormData();
                        formData.append('file', this.file);

                    return this.axios.post( '/api/media_objects',
                        formData,
                        {
                            headers: {'Content-Type': 'multipart/form-data'}
                        }).then(function(response){
                        console.log('File uploaded :) ')
                        return response.data
                    })
                    .catch(function(error){
                        console.log('File Error : '+error)
                    });
                }else{
                    return new Promise((success) => { success([false]); })
                }
            },

             updateAbout(event){
                const formData = {};
                return this.submitFile()
                .then(fileUpdated => {
                    formData.title = this.about.title;
                    formData.subtitle = this.about.subtitle;
                    formData.catchphrase = this.about.catchphrase;
                    formData.description = this.about.description;
                    formData.image = fileUpdated ? fileUpdated['@id'] : this.about.image;

                return this.axios.patch('/api/abouts/'+this.about.id,
                        formData,
                        { headers: {'Content-Type': 'application/merge-patch+json'} 
                        }).then( aboutAssigned => {
                            this.isSubmited = true;
                            this.$toastr.s(`Enregistré :) `); // notifications Toastr
                            this.$emit('saved-about');
                            return aboutAssigned.data
                        }).catch(error => console.log('Error : ', error));

                }).catch(error => console.log('Unable to get file: ', error.message));
             },

            getImage(urlMediaObjectId){
                this.axios.get(urlMediaObjectId
                    ).then( response => {
                        this.about.image = response.data.contentUrl
                    }).catch(error => console.log('Error :( ', error));
             },

            refreshImg(file){
                this.fileName = file.name;
                this.file = file;
                this.stateUpload = false;
            }
        },

        mounted() {
            // this.$toastr.i('Component UpdateManager mounted!'); // Tostr notification
            // console.log('Component UpdateManager mounted.' + this.item)
        }
    }
</script>
