<template>
   <div>

    <div class="accordion w3-padding-16" id="accordionExample">

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" @click="showAbouts()" type="button" >A propos</button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" v-bind:class="{ show: isShowAbout }" >
                <div class="accordion-body">
                    <about-manager @saved-about="showAbouts" ></about-manager>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" @click="showSkills()" type="button" >Competenecs</button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" v-bind:class="{ show: isShowSkill }" >
                <div class="accordion-body">
                    <skill></skill>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" @click="showGalleries()" type="button" >Gallery</button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" v-bind:class="{ show: isShowGallery }" >
                <div class="accordion-body">
                    <gallery></gallery>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" @click="showPrestations()" type="button" >Prestation</button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" v-bind:class="{ show: isShowPrestation }" >
                <div class="accordion-body">
                    <prestation></prestation>
                </div>
            </div>
        </div>

    </div>

   </div>
</template>
<script>
   export default {
       name: "home-admin",
       data(){
            return {
                isShowAbout: true,
                isShowSkill: false,
                isShowGallery: false,
                isShowPrestation: false
            }
        },
       methods: {
            showAbouts(){
                this.hideAll()
                this.isShowAbout = !this.isShowAbout
            },
            showSkills(){
                this.hideAll()
                this.isShowSkill = !this.isShowSkill
            },
            showGalleries(){
                this.hideAll()
                this.isShowGallery = !this.isShowGallery
            },
            showPrestations(){
                this.hideAll()
                this.isShowPrestation = !this.isShowPrestation
            },
            hideAll(){
                this.isShowAbout = false
                this.isShowSkill = false
                this.isShowGallery = false
                this.isShowPrestation = false
            }
        }
   }
</script>
<style>
    @import'~bootstrap/dist/css/bootstrap.min.css';
</style>